flutter/ephemeral/

# Visual Studio user-specific files.
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio build-related files.
x64/
x86/

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/
# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.framework
ios/Flutter/app.icns
ios/Flutter/app.zip
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# IntelliJ related
.idea/
*.iml

# VS Code related
.vscode/

# Mac related
*.DS_Store

# Android related
*.apk
*.aar
*.jks

# Web related
lib/generated_plugin_registrant.dart

# Miscellaneous
*.log
*.lock
*.pyc
*.pyo
*.swp